{% load forum_tags %}{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Este es un pequeño prueba</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href="{% static "css/estiloforo.css" %}" rel="stylesheet">
</head>
<body>
<div id="view-post" class="container">
	<div class="col-sm-9">
		<article class="single-post">
			<div class="post-content">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="text-center">
							<a href="#" class="btn btn-danger add-question" data-toggle="modal" data-target="#myModal">Add Question</a>
						</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Add Question</h4>
	      </div>
	      <div class="modal-body">
			<div class="alert alert-danger" role="alert" style="display:none"></div>
	       <form method="post" action="" id="question-form">
	        {% csrf_token %}
			
			{{ form|crispy}}
			

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <input type="submit" class="btn btn-primary" value="Save changes">
	      </div>
	    </div>
	  </div>
	
</div>
					</div>
				</div>
			{% for question in questions %}
				<div class="row u-padding-row">
					<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 info-buttom">
						<a href="" class="loading-example-btn btn btn-default">
							Votes <span class="badge badge-warning">{{ question.get_points }}</span> 
						</a>
						<a href="" class="loading-example-btn btn btn-success ">
							Answer <span class="badge badge-warning">{{ question.get_num_answer }}</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 text-question">
						<a href="/pregunta/{{question.id}}/">
							{{ question.title }}
						</a>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 info-user">
						<span class="date">{{ question.pub_date|date:"SHORT_DATE_FORMAT" }}</span> 
						<strong class="user-name">{{ question.user.username }}</strong>
					</div>
				</div>
			{% endfor %}
			</div>
		</article>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script>
    	$('#question-form').on('submit', function(ev){
    		ev.preventDefault();
    		$.ajax({
    			url: $('#question-form').attr('action'),
    			type: 'POST',
    			data: $('#question-form').serialize(),
    			dataType: 'json',
    			success: function(response_data){
    				if(response_data.form_saved){
    					$('#myModal').modal('hide');
    				}else{
    					//$('.bg-danger').append("No valido")
    					console.log(response_data.errors);
    					 var form_errors = response_data.errors;
    					 errores = '';
    					// Display form validation errors
			            for(var fieldname in form_errors) {

			                //var errors = form_errors[fieldname];       // Array of error strings for fieldname
			                //console.log(fieldname)
			                errores = errores + "<strong>Campo requerido:</strong> "+fieldname+'<br>';
			            }
			            $(".alert").show();
			            $('.alert').html(errores);

    				}
    			}
    		});
    	});
</script>
</body>
</html>